<main id="posts-home">
	<div class="group"><p> GROUP LINKS</p></div>

<div class="basic">
	

		<% if user_signed_in?%>
	<div id="text">
	<%=form_for @post,remote:true do |f|%>
	 <%=f.label:content%>
     <%=f.text_area:content%>
    <%=f.submit%>
   <% end%>
   <%end%>
</div>

<div id="box">
	<ol id="list">
		<% @posts.reverse.each do |p|%>
		<%= render 'post' ,p: p %>
<%end%>
	</ol>


</div>

</div>

<div class="friends"><p>FRIENDS</p></div>
</main>