<main id="posts-home">
	<div class="group"><p> GROUP LINKS</p></div>

<div class="basic">
	

		<% if user_signed_in?%>
	<div id="text">
	<%=form_for @post do |f|%>
	 <%=f.label:content%>
     <%=f.text_area:content%>
    <%=f.submit%>
   <% end%>
   <%end%>
</div>

<div id="box">
	<ol>
		<% @posts.reverse.each do |p|%>
		<li>

		<div>
			<div id="gg"><%=p.content%> </div>&nbsp <% if user_signed_in? && p.user_id==current_user.id%>
<%= link_to 'delete', destroy_post_path(p),method: :delete%>
<% end%>
		<p><%=p.user.email%></p>



<% if user_signed_in?%>
<p>
	<sub>
   <%=p.likes.length%>
   &nbsp	
<%=link_to p.like_status_string(current_user.id), toggle_like_path(p.id), method: :post%>

</sub>
</p>
<%else%>
<sub>
	
<%= p.likes.length%> &nbsp Likes

</sub>
<%end%>
<div id="com">
			<h5>ADD COMMENT</h5>
			<% if user_signed_in?%>
		<%=form_for @comment do |f|%>
		<%=f.label:content%>
	<%=f.text_area:content%>
	<%=f.hidden_field :post_id, value: p.id%> 
	<%=f.submit%>
	<% end%>
	<%end%>
<ul>
	<% p.comments.reverse.each do |comment|%>
<li>
	<p><%=comment.content%>
		&nbsp
		<sub><%=comment.user.email%></sub>

	</p>
	<% if user_signed_in? && current_user.id==comment.user_id%>
	<p><%= link_to 'delete', destroy_comments_path(comment),method: :delete%></p>
	<% end%>
</li>

<%end%>

</ul>

</div>
</div>
</li>
<%end%>

	</ol>


</div>

</div>

<div class="friends"><p>FRIENDS</p></div>
</main>