<!DOCTYPE html>
<html>
  <head>
    <title>Social</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
 
  
  <body>
    <div id="common-header">
    	<div class="logo wow infinite bounce" data-wow-duration="2s">
    		<img width="50" src="http://www.redditstatic.com/icon.png">
    	</div>
<div class="auth-info-links">

<%if user_signed_in? %>

	<p><%=current_user.email%></p>
   <p id="how"><%=link_to 'sign-out', destroy_user_session_path, method: :delete%> </p>
   <% else%>
   <p><%=link_to 'sign-in',new_user_session_path%></p>
   <p><%= link_to 'sign-up', new_user_registration_path%></p>
<%end%>
</div>
    </div>

    <%= yield %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <script>
               new WOW().init();
               </script>
  </head>
  </body>
</html>
