<!DOCTYPE html>
<html>
  <head>
    <title>Social</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div id="common-header">
    	<div class="logo">
    		<img width="50" src="http://www.redditstatic.com/icon.png">
    	</div>
<div class="auth-info-links">

<%if user_signed_in? %>

	<p><%=current_user.email%></p>
   <p><%=link_to 'sign-out', destroy_user_session_path, method: :delete%> </p>
   <% else%>
   <p><%=link_to 'sign-in',new_user_session_path%></p>
   <p><%= link_to 'sign-up', new_user_registration_path%></p>
<%end%>
</div>
    </div>

    <%= yield %>
  </body>
</html>
